.root{
    width: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    margin: 0 auto;
}
.field{
    margin-bottom: 20px !important;
}
.title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px !important;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}